<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background: skyblue;">All Articles Page</h1>
    <hr>

    <% for(let article of allArticles) { %>
        <h1 style="background: silver; color: red; padding: 20px;"><%= article.title %></h1>
        <h4><%= article.body %></h4>
        <h4><%= article.numberOfLikes %></h4>
        <hr>
    <% } %>
</body>
</html>